<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD PH e Helo</title>
</head>
<body>
    <h1>CRUD - AWS CLOUD9 + PYTHON + DJANGO + SQL RDS - Helo</h1>
    <h2>List of Notebooks</h2>
    <ul>
        {% for notebook in notebooks %}
        <li>
            {{ notebook.modelo }} - {{ notebook.processador }} - {{ notebook.memoria_gb }}GB
            <a href="{% url 'edit_notebook' notebook.id %}">Edit</a>
            <a href="{% url 'delete_notebook' notebook.id %}">Delete</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_notebook' %}">Add New Notebook</a>
</body>
</html>
